[Desktop Entry]
Name=thriftwood
Comment=Self-hosted software controller built using Flutter
Exec=thriftwood
Icon=${SNAP}/meta/gui/thriftwood.png
Terminal=false
Type=Application
Categories=Utilities;Entertainment;
